/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  width: 100%;
  height: 100%;
  background-color: rgb(141, 130, 130);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.5);
}

form {
  background-color: aliceblue;
  margin: 260px auto;
  padding: 2em;
  width: 260px;
  height: 260px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0.5em;
}

p {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  font-size: x-small;
}
